<IfModule mod_rewrite.c>
  RewriteEngine On


    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^log-report/(.*) log-report.php?b_id=$1
    RewriteRule ^/signout ../../../../signout.php
</IfModule>
