<IfModule mod_rewrite.c>
  RewriteEngine On


    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^branch-list/(.*) branch-list.php?b_id=$1
    RewriteRule ^branch-detail/(.*) branch-detail.php?b_id=$1
    RewriteRule ^branch-edit/(.*) branch-edit.php?b_id=$1
    RewriteRule ^create-branch create-branch.php
    RewriteRule ^create-user create-user.php
</IfModule>
