<IfModule mod_rewrite.c>
  RewriteEngine On


    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^awb-list/(.*) awb-list.php?b_id=$1
    RewriteRule ^undelivered-awb/(.*) undelivered-awb.php?b_id=$1
    RewriteRule ^awb-add awb-add.php
    RewriteRule ^awb-detail/(.*) awb-detail.php?b_id=$1
    RewriteRule ^awb-edit/(.*) awb-edit.php?b_id=$1
    RewriteRule ^/signout ../../../../signout.php
</IfModule>
