<IfModule mod_rewrite.c>
  RewriteEngine On


    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^awb-list/(.*) awb-list.php?b_id=$1
    RewriteRule ^undelivered-awb/(.*) undelivered-awb.php?b_id=$1
    RewriteRule ^awb-add awb-add.php
    RewriteRule ^awb-detail/(.*) awb-detail.php?b_id=$1
    RewriteRule ^awb-edit/(.*) awb-edit.php?b_id=$1
    RewriteRule ^awb-delivery/(.*) awb-delivery.php?b_id=$1
    RewriteRule ^update_mawb_flight/(.*) update_mawb_flight.php?b_id=$1
    RewriteRule ^unlock_awb/(.*) unlock_awb.php?b_id=$1
    RewriteRule ^awb-third-party/(.*) awb-third-party.php?b_id=$1
    RewriteRule ^third-party-edit/(.*) third-party-edit.php?b_id=$1
    RewriteRule ^delete_awb/(.*) delete_awb.php?b_id=$1
    RewriteRule ^/signout ../../../../signout.php
</IfModule>
